<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
         IgnorableNamespaces="uap mp uap3 rescap">
  <Identity Name="189703c0-3a5c-47dd-a12f-af8b2ed78d2d" Publisher="CN=zl" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="189703c0-3a5c-47dd-a12f-af8b2ed78d2d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>AppUpdate</DisplayName>
    <PublisherDisplayName>zl</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AppUpdate.App">
      <uap:VisualElements DisplayName="AppUpdate" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="AppUpdate" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="AppUpdaterService.BackGroundUpdaterTask">
          <uap:AppService Name="net.hoekstraonline.appupdater" />
        </uap:Extension>
        <uap:Extension Category="windows.protocol" >
          <uap:Protocol Name="appupdatex"  DesiredView="useLess">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:DisplayName>AppUpdate</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name=".appupdatex" DesiredView="useLess">
            <uap:SupportedFileTypes>
              <uap:FileType>.appupdatex</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <rescap:Capability Name="packageManagement"/>
  </Capabilities>
</Package>